main {
    position: relative;
}

body {
    width: 40%;
    margin-left: 500px;
    justify-content: center;
}


.yellow {
    text-align: center;
    margin-top: 50px;
}

.image {
    opacity: 0.3;
    position: relative;
    top: -61px;

    height: 60px;
}

.assign {
    margin-bottom: 30px;
}

.y1 {
    background-color: rgb(253, 212, 76);
}

.triAngle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 40px solid rgb(253, 212, 76);
    opacity: 1;
    z-index: 1;
}

.pink {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(243, 86, 135);

}

.heading{
  color: white;
}


